# Application
APP_ENV=local
APP_DEBUG=true
APP_PORT=8035
STUDYTRACKER_APP_PORT=8035
STUDYTRACKER_ENV_APP_PORT=8036
STUDYTRACKER_DB_PORT=5436

# Database
DATABASE_URL=postgresql+psycopg2://studytracker:studytracker@db:5432/studytracker
